{
    admin off
    auto_https off
    http_port __CADDY_PORT__
}

:__CADDY_PORT__ {
    bind 127.0.0.1
    @prefixed path /__PATH_ID__ /__PATH_ID__/*

    handle @prefixed {
        uri strip_prefix /__PATH_ID__
        reverse_proxy localhost:__BACKEND_PORT__ {
            header_up X-Forwarded-Prefix "/__PATH_ID__"
        }
    }

    respond "404 Not Found. Please verify the key in the URL. If the key is correct and the issue persists, contact me." 404
}
